:root {
  --primary: #691865;
  --secondary: #81367e;
  --primary-dark: #81367e;
  --primary-hover: #571353;
  --focus: #9b4298;

  --body-dark: #1f1f1f;
  --default: #212529;
  --dark: #293042;
  --popup-dark: #343537;
  --semi-dark-bg: #28292a;
  --white: #ffffff;
  --translucent-black: rgb(0 0 0 / 30%);

  --bs-body-font-size: 0.875rem;
  --bs-primary: #691865;
  --bs-primary-rgb: 27, 93, 134;
}
